<nav class="col-2"><a class="blue" href="/"><i class="fas fa-dove"></i></a><a href="/"><i class="fas fa-home"></i></a><a
        href="/search"><i class="fas fa-search"></i></a><a href="/notifications"><i class="fas fa-bell"></i></a><a
        href="/messages"><i class="fas fa-envelope"></i></a><a href="/profile"><i class="fas fa-user"></i></a><a
        href="/logout"><i class="fas fa-sign-out-alt"></i></a></nav>