<div class="postFormContainer">
    <div class="userImageContainer"><img alt="User's profile picture" src="<%= userLoggedIn.profilePic %>" /></div>
    <div class="textareaContainer">
        <textarea id="postTextarea" placeholder="What's happening?"></textarea>
        <div class="buttonsContainer">
            <button id="submitPostButton" disabled>Post</button>
        </div>
    </div>
</div>